In [1]:
import pandas as pd
import json

In [2]:
data_path = './data.csv'

In [3]:
def get_data(data_path):
    try:
        with open(data_path, 'r') as f:
            return pd.read_csv(f, delimiter=';')
    except FileNotFoundError:
        return {}

In [4]:
def get_quality_config(quality_path):
    try:
        with open(quality_path, 'r') as f:
            return json.load(f)
    except FileNotFoundError:
        return {}

In [26]:
quality_config = get_quality_config('./quality.json')['poor']
df = get_data(data_path)
df['sales'] = df.volume * df.unit_price
aggregation = quality_config['aggregation']
df = df[aggregation.extend(['sales'])]
df = df.groupby(aggregation).sum()
print(df)

                         sales
date       location
01/04/2018 Espoo     278008.37
           Helsinki  278008.37
01/07/2018 Espoo     328624.72
           Helsinki  328624.72
02/09/2018 Espoo     349409.49
           Helsinki  349409.49
02/12/2018 Espoo     330849.31
           Helsinki  330849.31
03/06/2018 Espoo     179775.11
           Helsinki  179775.11
04/02/2018 Espoo     434329.80
           Helsinki  434329.80
04/03/2018 Espoo     277410.76
           Helsinki  277410.76
04/11/2018 Espoo     190365.60
           Helsinki  190365.60
05/08/2018 Espoo     207175.37
           Helsinki  207175.37
06/05/2018 Espoo     178798.54
           Helsinki  178798.54
07/01/2018 Espoo     204866.47
           Helsinki  204866.47
07/10/2018 Espoo     392230.81
           Helsinki  392230.81
08/04/2018 Espoo     245231.97
           Helsinki  245231.97
08/07/2018 Espoo     305896.15
           Helsinki  305896.15
09/09/2018 Espoo     211290.70
           Helsinki  211290.70
...                        ...
22/07/2018 Espoo     200535.19
           Helsinki  200535.19
23/09/2018 Espoo     349717.79
           Helsinki  349717.79
23/12/2018 Espoo     316314.33
           Helsinki  316314.33
24/06/2018 Espoo     192567.07
           Helsinki  192567.07
25/02/2018 Espoo     273771.41
           Helsinki  273771.41
25/03/2018 Espoo     289583.70
           Helsinki  289583.70
25/11/2018 Espoo     197262.70
           Helsinki  197262.70
26/08/2018 Espoo     387979.40
           Helsinki  387979.40
27/05/2018 Espoo     117578.58
           Helsinki  117578.58
28/01/2018 Espoo     459594.15
           Helsinki  459594.15
28/10/2018 Espoo     221236.89
           Helsinki  221236.89
29/04/2018 Espoo     173311.22
           Helsinki  173311.22
29/07/2018 Espoo     205601.73
           Helsinki  205601.73
30/09/2018 Espoo     351242.40
           Helsinki  351242.40
30/12/2018 Espoo     240214.69
           Helsinki  240214.69

[104 rows x 1 columns]